[oauth]
folder = /home/pi/

[gmail]
# GMail account credentials
name = <Google full user name>
user = <Google account>
password = <Password>
sender = <e-mail address>

# Recipient email address (could be same as from_addr)
recipient = <e-mail address>

# Subject line for email
subject = Motion detected

# First line of email message
message = Video uploaded

[docs]
# Folder (or collection) in Docs where you want the videos to go
folder = motion
snapshot-folder = public

[options]
# Delete the local video file after the upload
delete-after-upload = true

# Send an email after the upload
send-email = false

